.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: ivory;
}

.App-link {
  color: #09d3ac;
}
.card-section {
  width: 80%;
}
.user-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 20px auto;
  padding: 15px;
  border-radius: 8px;
  background-color: #1c1d27;
}
.user-details{
  display: flex;
  flex-flow: column nowrap;
}
.avatar {
  max-width: 50%;
  border-radius: 8px;
}

.followers-list {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  list-style: none;
  text-align: center;
}
.follower-card {
  background-color: #1c1d27;
  width: 45%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-flow: row nowrap;
}
.follower-details {
  display: flex;
  flex-flow: column nowrap;
}
.follower-avatar {
  max-width: 20%;
  border-radius: 8px;
}

.followers-list a {
  /*text-decoration: none;*/
  color: ivory;
}
